// =============================================================================================
// GLOBAL
// =============================================================================================

* {
    box-sizing: border-box;
  }
  
body {
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    line-height: 1.5;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {}
  
a:active,
a:link,
a:visited,
a:hover,
a:focus {
    text-decoration: none;
}
  
p {
    margin: 24px 0;
}
  
img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
}
  
iframe {
    margin: 0 !important;
}
  
// =============================================================================================
// END OF GLOBAL
// =============================================================================================