
// =============================================================================================
// VARIABLES
// =============================================================================================
// put all your variable declaration here

// MEDIA QUERIES
$tablet-width: 768px;
$desktop-width: 992px;
$desktop-wide-width: 1200px;

// =============================================================================================
// END OF VARIABLES
// =============================================================================================